name: Release

on:
  push:
    branches:
      - main

env:
  # Node.js
  NODE_VERSION: '20'
  NPM_REGISTRY_URL: 'https://registry.npmjs.org'
  HUSKY: 0

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.TRIPLE_BOT_GITHUB_TOKEN }}

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: ${{ env.NPM_REGISTRY_URL }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - run: |
          git config --global user.name "TRIPLE Bot"
          git config --global user.email "triple-bot@interpark.com"

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm changeset publish
          setupGitUser: false
        env:
          GITHUB_TOKEN: ${{ secrets.TRIPLE_BOT_GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.READ_WRITE_NPM_TOKEN }}
